$fonts: Montserrat, Open Sans, Helvetica, Arial, sans-serif;

$radius: 25px;
$button-radius: 50px;

$xs: 5px;
$sm: 10px;
$md: 20px;
$lg: 50px;
$xl: 100px;


$primary-color: #1e1848;
$primary-accent: #202746;
$secondary-color: #6B96FF;
$teal-color:#0FCFD7;
$secondary-accent: #E8E4F7; 
$light-grey-color: #FDFAFD;
$dark-color: #0E0F34;
$grey-color: #A6A3B7;
$white-color: #fff;
$pink-color: #FF4080;
$no-shadow: 0px 0px 0px rgba($primary-color,0);
$shadow: 0px 8px 20px rgba($primary-color,.1);
$shadow-light: 0px 4px 10px rgba($primary-color, .07);
$shadow-dark: 0px 16px 30px rgba($primary-color,.2);

*, ::before, ::after { padding: 0; margin: 0; box-sizing: border-box;}

.primary-color{color:$primary-color;}
.primary-bg{background: $primary-color;}
.primary-accent-color{color:$primary-accent;}
.primary-accent-bg{background: $primary-accent;}
.secondary-color{color:$secondary-color;}
.secondary-bg{background: $secondary-color;}
.secondary-accent-color{color:$secondary-accent;}
.secondary-accent-bg{background: $secondary-accent;}
.light-grey-color{color:$light-grey-color;}
.light-grey-bg{background:$light-grey-color;}
.grey-color{color:$grey-color;}
.grey-bg{background:$grey-color;}
.teal-color{color:$teal-color;}
.teal-bg{background:$teal-color;}
.dark-color{color:$dark-color;}
.dark-bg{background:$dark-color;}
.white-color{color:$white-color !important;}
.white-bg{background:$white-color;}
.pink-color{color:$pink-color;}
.pink-bg{background:$pink-color;}

/* fonts */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,800);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* import grid */
@import "flexboxgrid";

 /* slick slider styling*/
@import "slick";
@import "slick-theme";

/* mixins */
@mixin primary-gradient {
    background: -webkit-linear-gradient(0deg, $dark-color, $primary-color);
    background: -o-linear-gradient(0deg, $dark-color, $primary-color); 
    background: -moz-linear-gradient(0deg, $dark-color, $primary-color);
    background: linear-gradient(0deg, $dark-color, $primary-color);}
@mixin primary-white-gradient {
    background: -webkit-linear-gradient(165deg, rgba($white-color, .9), rgba($secondary-accent,0.5));
    background: -o-linear-gradient(165deg, rgba($white-color, .9), rgba($secondary-accent,0.5)); 
    background: -moz-linear-gradient(165deg, rgba($white-color, .9), rgba($secondary-accent,0.5));
    background: linear-gradient(165deg, rgba($white-color, .9), rgba($secondary-accent,0.5));}
@mixin dark-transparent-gradient {
    background: -webkit-linear-gradient(165deg, rgba($dark-color, 0.5), rgba($dark-color,0.4));
    background: -o-linear-gradient(165deg, rgba($dark-color, 0.5), rgba($dark-color,0.4)); 
    background: -moz-linear-gradient(165deg, rgba($dark-color, 0.5), rgba($dark-color,0.4));
    background: linear-gradient(165deg, rgba($dark-color, 0.5), rgba($dark-color,0.4));}
@mixin secondary-gradient {
    background: -webkit-linear-gradient(left top, $primary-color, $secondary-color);
    background: -o-linear-gradient(right bottom, $primary-color, $secondary-color); 
    background: -moz-linear-gradient(right bottom, $primary-color, $secondary-color);
    background: linear-gradient(to right bottom, $primary-color, $secondary-color);}
@mixin teal-gradient {
    background: -webkit-linear-gradient(left top, #5ecae7, $teal-color);
    background: -o-linear-gradient(right bottom, #5ecae7, $teal-color); 
    background: -moz-linear-gradient(right bottom, #5ecae7, $teal-color);
    background: linear-gradient(to right bottom, #5ecae7, $teal-color);}
@mixin bright-gradient {
    background: -webkit-linear-gradient(left top, $secondary-color, $pink-color);
    background: -o-linear-gradient(right bottom, $secondary-color, $pink-color); 
    background: -moz-linear-gradient(right bottom, $secondary-color, $pink-color);
    background: linear-gradient(to right bottom, $secondary-color, $pink-color);}
@mixin border-radius {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;}
@mixin button-radius {
  -webkit-border-radius: $button-radius;
     -moz-border-radius: $button-radius;
      -ms-border-radius: $button-radius;
          border-radius: $button-radius;}
@mixin shadow {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;}
@mixin shadow-light {
  -webkit-box-shadow: $shadow-light;
     -moz-box-shadow: $shadow-light;
      -ms-box-shadow: $shadow-light;
          box-shadow: $shadow-light;}
@mixin shadow-dark {
  -webkit-box-shadow: $shadow-dark;
     -moz-box-shadow: $shadow-dark;
      -ms-box-shadow: $shadow-dark;
          box-shadow: $shadow-dark;}
@mixin circle {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;}
@mixin transition {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;}
@mixin slow-transition {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;}
@mixin fast-transition {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;}
@mixin scale-zero {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);}
@mixin scale-full {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}
@mixin delay {
    -webkit-transition-delay: 2s;
    transition-delay: 2s;}
@mixin undersized {
    -webkit-transform: scale(0.8) translate(-30%, -30%);
    -ms-transform: scale(0.8) translate(-30%, -30%);
    transform: scale(0.8) translate(-30%, -30%);}
@mixin oversized {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);}
@mixin oversized-right {
    -ms-transform: rotate(10deg) scale(1.2); 
    -webkit-transform: rotate(10deg) scale(1.2); 
    transform: rotate(10deg) scale(1.2);}
@mixin oversized-left {
    -ms-transform: rotate(-10deg) scale(1.2); 
    -webkit-transform: rotate(-10deg) scale(1.2); 
    transform: rotate(-10deg) scale(1.2);}
@mixin rise {
    position:relative;
    -ms-transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);}
@mixin opacity{
    opacity: .4;}

body {
    font: 100% $fonts;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.15;
    color: $primary-color;
    margin:0;
	padding:0;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased !important;
    img {
        line-height: 0;
        vertical-align:bottom;}
    img::before, img::after {
        clear: both;
    }
}

.footer{
    @include primary-gradient;
    color: $secondary-accent !important;
    position: relative;
    z-index: 1;
    a{
       color: $pink-color;}
    img{
    @include opacity;
    @include transition;}
    img:hover{
    opacity: 1;
    @include transition;}
}


.bg-image {
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    z-index: 0;}
.header-image{
    @include transition;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

.primary-gradient{
    @include primary-gradient;}
.primary-white-gradient{
    @include primary-white-gradient;}
.dark-transparent-gradient{
    @include dark-transparent-gradient;}
.secondary-gradient{
    @include secondary-gradient;}
.teal-gradient{
    @include teal-gradient;}
.bright-gradient{
    @include bright-gradient;}


/* text and headers */
h1, h2, h3, h4 {
  color: $primary-accent;
  margin: 0;
  width: 100%; 
}
h1 {
  font-size: 3.8em;
  line-height: 1.2em !important;
  }
h2 {
  font-size: 2.7em;
    font-weight: 400;
    color: $primary-color;}
h3 {
  font-size: 1.414em/*1.999em*/;
  font-weight: 800;}
h4 {
  font-size: 1.414em;
    line-height: 1.4em;
  font-weight: 400;}
h5 {
    font-size: 1em;
    font-weight: 400;
}
p {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $primary-color;
    opacity: .7;
}
.text-behind {
    position: relative;
    margin-top: -20px;
    margin-left: 14px;
    z-index: -1;
    color: $secondary-accent !important;
}
.sm-text {
  font-size: 0.707em !important;}
.lg-text {
    font-size: 3em;
}
.xl-text {
    font-size: 6em !important;}
.centered-text {
    text-align: center;}
.right-text{
    text-align: right;}
.left-text{
    text-align: left;}
.uppercase{
    text-transform: uppercase;}
.bold {
    font-weight: 600;
}
a {
    @include transition;
    color: $primary-color;
    font-weight: 600;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;}
a:hover {
    @include slow-transition;
    color: $secondary-color !important;}



/* nav bar */

#nav, #nav-mobile {
    transform: none;
    position: fixed;
    display: block;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100000;
    
    .link{
        @include transition;
        display: inline-block;
        font-size: .8em;
        padding: $xs $md;
        opacity: 1;
        border-bottom: none;}
    .active{
        opacity: 1 !important;}
    .link.active::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background: $secondary-color;}
    .link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: $secondary-color;
        transition: width .3s ease;}
    .link:hover::after {
        @include transition;
        width: 100%;
    }
}
#nav-mobile {
    transform: none;
    position: fixed;
    display: block;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100000;
    
    .link{
        @include transition;
        display: inline-block;
        font-size: .8em;
        padding: $xs $md;
        opacity: 1;
        border-bottom: none;}
    .active{
        color: $secondary-color;}
}
.nav{
    @include transition;
    width: 95%;
    margin: auto;
    text-align: center;
    background:'';
    a{
        @include transition;
        color: $white-color;
        font-weight: 800;
        text-transform: uppercase;
        }
    a:hover {
        @include transition;
        color: $white-color !important;}
    .logo{
        @include transition;
        width: 170px;}
    .logo-icon {
        @include transition;
        width: 34px;}
    .primary{
        @include transition;
        max-width: 100%;}
}
.nav-scrolled{    
    @include transition;
    @include shadow;
    background: rgba($white-color, .8) !important;
    .active {
        color: $dark-color !important;
    }
    .logo, .logo-icon {
        @include transition;
        #logo-dark {
            display: block !important;
        }
        #logo-white {
            display: none;
        }
    }
    a{
        @include transition;
        color: $primary-accent !important;
        }
    a:hover {
        @include transition;
        color: $primary-color !important;}
    .button-secondary{
        color: $white-color !important;
    }
    .button-secondary:hover{
        color: $white-color !important;
    }
}
#menu-list {
    display: none;
}

#close {
    position: fixed;
    z-index: 100;
    padding: $md;
}

/* inputs and buttons */
input, textarea {
    background: $white-color;
    color: $primary-color;
    font-size: 2em;
    font-weight: 100;
    line-height: 2em;
    border: none;
    padding: 5px 30px;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: $grey-color;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $grey-color;
}
:focus {
    outline: -webkit-focus-ring-color auto;
    outline-color: $pink-color;
    outline-offset: -2px;
    box-sizing: border-box;
}





/*button text*/
.button-text {
    @include transition;
    padding: 0;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $pink-color;
    
    i {
        @include transition;
        position: relative;
        }
}
.button-text:hover{  
    @include transition;
    transform: translateY(-2px) !important;
    color: #f05343;
    i {
        @include transition;
        margin-left: 4px;}
}

/*button white*/
.button-white {
    @include button-radius;
    @include transition;
    background: rgba($white-color, 1);
    padding: 15px 28px;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $secondary-color !important;
    @include shadow-light;
}
.button-white:hover{
    transform: translateY(-2px) !important;
    @include transition;
    color:  $secondary-color !important;
    @include shadow;
}

/*button dark*/
.button-secondary {
    @include slow-transition;
    @include button-radius;
    background: -webkit-linear-gradient(left top, $secondary-color, $dark-color);
    background: -o-linear-gradient(right bottom, $secondary-color, $dark-color); 
    background: -moz-linear-gradient(right bottom, $secondary-color, $dark-color);
    background: linear-gradient(to right bottom, $secondary-color, $dark-color);
    padding: 8px 20px !important;
    position:relative;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $white-color !important;
}
.button-secondary:hover{
    @include shadow-light;
    @include slow-transition;
}

/*button */
.button {
    @include transition;
    @include button-radius;
    @include shadow-light;
    background: -webkit-linear-gradient(left top, $white-color, $white-color);
    background: -o-linear-gradient(right bottom, $light-grey-color, $white-color); 
    background: -moz-linear-gradient(right bottom, $white-color, $white-color);
    background: linear-gradient(to right bottom, $white-color, $white-color);
    padding:15px 30px;
    position:relative;
    border: none;
    top:0;
    cursor: pointer;
    font-weight: 800;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: $secondary-color !important;
    text-align: center !important;
}
.button:hover{
    @include shadow;
    @include transition;
    transform: translateY(-2px) !important;
    background: -webkit-linear-gradient(left top, $white-color, $white-color);
    background: -o-linear-gradient(right bottom, $white-color, $white-color); 
    background: -moz-linear-gradient(right bottom, $white-color, $white-color);
    }

/* items and misc styles */
.featured-card {
    @include transition;
    position: relative;
    max-width: 200px;
    img {
        @include border-radius;
        @include transition;}
}
.featured-card:hover {
    @include transition;
    @include rise;
    img {
        @include transition;
        @include shadow;}
}

.card {
    @include border-radius;
    background: $white-color;
    position: relative;
}
.project {
    .card {
        @include border-radius;
        @include transition;
        .tile {
            @include transition;
            @include border-radius;
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background: rgba($dark-color, .5);
            h3 {
                color: $white-color;
                padding-bottom: $sm;}
            h4 {
                color: $secondary-accent;}
        }
    }
    .card:hover {
        @include transition;
        @include shadow-dark;
        @include rise;
        .tile {
            @include transition;
            opacity: 1;
        }
    }
}
.project-title {
    @include transition;
    display: none;
    position: absolute;
    z-index: 2;
    padding: $sm;
    color: $white-color !important;
}
.project-title:hover {
    @include transition;
    @include rise;
    display: block;
    background: rgba($primary-color, 0.8);
}
.absolute{
    display: block !important;
    position: absolute;
    z-index: 2;
}
.block {
    display: block !important;
    position: relative;
    z-index: 2;
}
.wave-width {
    width: 100%;
}
.rise{
    @include transition;}
.rise:hover  {
    @include rise;
    @include transition;}
i.sm-icon {
    font-size: 22px !important;}
i.material-icons {
    display: inline-block !important;
    position: relative;
}
.lighter{
    @include opacity;}
.bottom-border {
    border-bottom: solid 1px $grey-color;}
.left-border {
    border-left: solid 1px $grey-color;}
.right-border {
    border-right: solid 1px $grey-color;}
.border {
    border: solid 1px rgba(0,0,0,.1);}
.inline {
    display: inline-block !important;}
.relative {
    position: relative;
}
.circled {
    @include circle;}
.shadow{
    @include shadow;}
.shadow-light{
    @include shadow-light;}
.shadow-dark{
    @include shadow-dark;}
.opacity{
    @include opacity;}
.border-radius {
    @include border-radius;}

/* heros */
.xs-hero{
    height: 45vh;
    min-height: 340px;
    margin: auto;
    }
.sm-hero{
    height: 60vh;
    max-height: 600px;
    margin: auto;
    }
.md-hero{
    height: 80vh;
    margin: auto;
    }
.lg-hero{
    height: calc(100vh);
    margin: auto;
    }
.sm-hero, .md-hero, .lg-hero{
    min-height: 400px;
    a {
        color: $white-color;}
}

/* sections */
.sm-section{
  padding-top: $md;
  padding-bottom: $md;}
.md-section{
  padding-top: $lg;
  padding-bottom: $lg;}
.lg-section{
  padding-top: $xl;
  padding-bottom: $xl;}
.xl-section {
    padding-top: $xl * 2;
    padding-bottom: $xl * 2;
}

/* padding and margins */
.vertical-align {
	margin: auto 0;}
.center-align {
	margin: auto;}
.right-align {
	align-content: flex-end;
    text-align: right;}
.no-padding{padding: 0 !important;}
.no-margin{margin: 0 !important;}

.no-top-padding{
    padding-top: 0 !important;}
.no-right-padding{
    padding-right: 0 !important;}
.no-bottom-padding{
    padding-bottom: 0 !important;}
.no-left-padding{
    padding-left: 0 !important;}

.xs-padding{
    padding: $xs; }
.xs-top-padding{
    padding-top: $xs;}
.xs-right-padding{
    padding-right: $xs;}
.xs-bottom-padding{
    padding-bottom: $xs;}
.xs-left-padding{
    padding-left: $xs;}

.sm-padding{
    padding: $sm; }
.sm-top-padding{
    padding-top: $sm;}
.sm-right-padding{
    padding-right: $sm;}
.sm-bottom-padding{
    padding-bottom: $sm;}
.sm-left-padding{
    padding-left: $sm;}

.md-padding{
    padding: $md; }
.md-top-padding{
    padding-top: $md;}
.md-right-padding{
    padding-right: $md;}
.md-bottom-padding{
    padding-bottom: $md;}
.md-left-padding{
    padding-left: $md;}

.lg-padding{
    padding: $lg; }
.lg-top-padding{
    padding-top: $lg;}
.lg-right-padding{
    padding-right: $lg;}
.lg-bottom-padding{
    padding-bottom: $lg;}
.lg-left-padding{
    padding-left: $lg;}

.xl-padding{
    padding: $xl; }
.xl-top-padding{
    padding-top: $xl;}
.xl-right-padding{
    padding-right: $xl;}
.xl-bottom-padding{
    padding-bottom: $xl;}
.xl-left-padding{
    padding-left: $xl;}

/* margin lips */
.lip-top{
    position: relative;
    top: -100px !important;}
.lip-bottom{
    position: relative;
    top: 100px !important;}

/* img sizes */
.icon-20 {
    width: 20px;
    height: 20px;}
.icon-40 {
    width: 40px;
    height: 40px;}
.icon-50 {
    width: 50px;
    height: 50px;}
.icon-60 {
    width: 60px;
    height: 60px;}
.icon-80 {
    width: 80px;
    height: 80px;}
.icon-100 {
    width: 100px;
    height: 100px;}
.icon-120 {
    width: 120px;
    height: 120px;}
.icon-140 {
    width: 140px;
    height: 140px;}
.icon-160 {
    width: 160px;
    height: 160px;}
.icon-180 {
    width: 180px;
    height: 180px;}
.icon-200 {
    width: 200px;
    height: 200px;}
.lightwidget img  {
    @include border-radius;
    @include shadow-light;
}

/* sizes + transformations */
.sm-max-width{
    @include transition;
    width: 86%;
    max-width:700px;
    margin: 0 auto;}
.md-max-width{
    @include transition;
    width: 92%;
    max-width:950px;
    margin: 0 auto;}
.max-width{
    @include transition;
    width: 96%;
    max-width:1120px;
    margin: auto;}
.lg-max-width{
    @include transition;
    width: 100%;
    max-width:1440px;
    margin: auto;}
.half-width {
	width: 50%;
	margin: 0 auto;	}
.three-quarter-width {
	width: 75%;
	margin:0 auto;	}
.full-width{
	width: 100%;}
.full-height{
    height:100%;}
.undersized{
    @include undersized;}
.oversized{
    @include oversized;}
.oversized-right{
    @include oversized-right;}
.hide-for-small {
    display: block;
}
.show-for-small {
    display: none !important;
}

@media only screen and (max-width: 470px) {
    h1 {
        font-size: 2.8em !important;
    }
    .mobile-top-padding {
        padding-top: 60px;}
    .hide-for-small {
        display: none !important;
    }
    .show-for-small {
        display: block !important;
    }
}
@media only screen and (max-width: 780px) {
    .nav .logo{
        margin: auto;
    }
    .hide-for-small {
        display: block;
    }
    .show-for-small {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 3.8em;
      }
    h2 {
      font-size: 2em;
        font-weight: 400;}
    h3 {
      font-size: 1.214em/*1.999em*/;
      font-weight: 800;
      text-transform: uppercase;}
    h4 {
      font-size: 1.14em;
      font-weight: 600;}
    input, textarea {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 5px 20px;}
    
}
@media only screen and (min-width: 1880px) {
    h1 {
        font-size: 5em;
      }
    .sm-max-width{
        @include transition;
        width: 86%;
        max-width:850px;
        margin: 0 auto;}
    .md-max-width{
        @include transition;
        width: 92%;
        max-width:1100px;
        margin: 0 auto;}
    .max-width{
        @include transition;
        width: 96%;
        max-width:1350px;
        margin: auto;}
    .lg-max-width{
        @include transition;
        width: 100%;
        max-width:1600px;
        margin: auto;}
}